<h1>Welcome to <%= title %></h1>

<div id ="container">
<h3>Share the things you like with the people
	that matter.</h3>
<%= image_tag("bg.png")%>
</div>

<footer class="footer">
	<p>Made in NYC at General Assemb.ly</p>
</footer>