<div id="show">

<h1>New post</h1>

<br />

<%= render 'form' %>

<%= link_to 'Dashboard', posts_path %>
</div>

<!-- 
INSERT FORM THAT ALLOWS USER TO ADD TAGS
MAKE POST TYPE A DROP-DOWN MENU OR BUTTONS FOR "ATTACH VIDEO", "ATTACH <LINK></LINK>"
 -->